<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level %logger{25} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="org" level="ERROR"/>-->

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>

</configuration>